.panel {
  border: 1px solid #333940;
  padding: 11px 14px 10px 16px;
  min-width: 778px;
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.panel-left {
  display: flex;
  align-items: center;
  gap: 10px;
  &__img {
    width: 32px;
    height: 32px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  &__top {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    max-width: 268px;
    
  }
  &__bottom {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 500;
  }
}

.panel-right {
  display: flex;
  align-items: center;
  gap: 16px;

  &__button {
    border-radius: 12px;
    background: linear-gradient(270deg, #8743ff 0%, #4136f1 100%);
    box-shadow: 0px 15px 30px 0px rgba(20, 102, 204, 0.16);
    padding: 6px;
    border: none;
    text-decoration: none;
    transition: all 0.4s;
    &:hover {
      transform: translateY(3px);
    }
    &::before {
      color: #ffff;
      font-size: 20px;
    }
  }
}
