.hero {
  // .hero__left

  &__left {
    margin-top: 243px;
  }

  // .hero__top

  &__top {
  }

  // .hero__center

  &__center {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 16px;
  }

  // .hero__text

  &__text {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    max-width: 516px;
    span {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  // .hero__bottom

  &__bottom {
  }
}
.hero-top {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-bottom: 20px;
  // .hero-top__left

  &__left {
  }

  // .hero-top__right

  &__right {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  // .hero-top__username

  &__username {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    max-width: 150px;
    word-wrap: break-word;
  }

  // .hero-top__right-link

  &__right-link {
    font-size: 14px;
    font-weight: 500;
    background: linear-gradient(270deg, #8743ff 0%, #d8c2ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 150px;
    word-wrap: break-word;
  }
}
.hero-bottom {
  display: flex;
  align-items: center;
  gap: 146px;
  // .hero-bottom__left

  &__left {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  // .hero-bottom__left-info

  &__left-info {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 600;
  }

  // .hero-bottom__sold

  &__sold {
  }

  // .hero-bottom__soldest

  &__soldest {
    display: flex;
    align-items: center;
    gap: 5px;
    span {
      color: #fff;
      font-size: 16px;
      font-weight: 600;
    }
  }

  // .hero-bottom__left-links

  &__left-links {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  // .hero-bottom__left-btn

  &__left-btn {
  }

  // .hero-bottom__social

  &__social {
  }

  // .hero-bottom__right

  &__right {
  }
}
