.header {
  &__wrapper {
    border-radius: 0px 0px 32px 32px;
    background: #30363d;
    box-shadow: 0px 25px 40px 0px rgba(0, 0, 0, 0.05);
    width: 100%;
    min-height: 56px;
    display: flex;
    align-items: center;
  }
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__center {
    flex: 1 1 auto;
    padding: 0px 16px 0px 25px;
  }
}

.header {
  &__button {
    border-radius: 12px;
    background: linear-gradient(270deg, #8743ff 0%, #4136f1 100%);
    box-shadow: 0px 15px 30px 0px rgba(20, 102, 204, 0.16);
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 19px;
    border: none;
    transition: all 0.5s;
  }
}

