.social {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  &__item {
    background-color: unset;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 8px 9px;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
    &::before {
      color: #ffff;
      font-size: 20px;
    }
  }
}
